## Include
#parse("include/var_package.vm")
#parse("include/velocimacro.vm")
## Declare some variable based on $entity
#set($tableName    						= ${entity.databaseTable})
#set($entityClass    					= ${entity.name})
#set($entityInstance    				= $fn.uncapitalize(${entityClass}))
#set($entityKeyClass    				= "${entity.name}Key")
#set($entityKeyInstance    				= $fn.uncapitalize(${entityKeyClass}))
#set($criteriaClass    					= "${entity.name}Criteria")
#set($assemblerClass    				= "${entity.name}ResourceAssembler")
#set($assemblerInstance    				= $fn.uncapitalize(${assemblerClass}))
#set($mapperClass    					= "${entity.name}Mapper")
#set($mapperInstance    				= $fn.uncapitalize(${mapperClass}))
#set($resourceClass    					= "${entity.name}Resource")
#set($resourceInstance  				= $fn.uncapitalize(${resourceClass}))
#set($controllerClass    				= "${entity.name}Controller")
#set($repositoryClass    				= "${entity.name}Repository")
#set($repositoryInstance    			= $fn.uncapitalize(${repositoryClass}))
#set($serviceInterface    				= "${entity.name}Service")
#set($serviceClass   					= "${serviceInterface}Impl")
#set($serviceInstance   			    = "$fn.uncapitalize(${serviceInterface})")
## Following variable are based on entity's key field(s)
#set($keyArgsList   					= $fn.argumentsList($entity.keyAttributes))
#set($keyArgsListWrapperType   			= $fn.argumentsListWithWrapperType($entity.keyAttributes))
#set($keyArgsListGetterOnInstance   	= $fn.argumentsListWithGetter(${entityInstance}, $entity.keyAttributes))
#set($compositeKey    					= $entity.hasCompositePrimaryKey())