## Include
#parse("include/var_entity.vm")
## Use macro resolve header
#package($SRC)
## use macro for feed $haveCriteria
#haveCriteria()

import ${pack_entity}.${entityClass};
import java.util.List;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

public interface $serviceInterface {

	$entityClass getOne($keyArgsListWrapperType);

	List<$entityClass> findAll();

	Page<$entityClass> findAll(Pageable pageable);

	Boolean delete($keyArgsListWrapperType);

	$entityClass create($entityClass $entityInstance);

	$entityClass update($entityClass $entityInstance);

	Boolean exist($entityClass $entityInstance);

}

